<html>
    <head>
        <title>Quiz App - GenQ</title>
        <link rel="stylesheet" href="Template.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="module" src="Template.js"></script>
    </head>
    <body>
        <div class="box">
            <div class="top">
                <div class="icon">
                    <a href="Home.html"><i class="fa fa-angle-left" style="font-size:36px;color:white "></i></a>
                </div>
                <div class="top_question">
                    <button>1</button>
                    <button>2</button>
                    <button>...</button>
                    <button>29</button>
                    <button>30</button>
                </div>
                <div class="timer">
                    <p id="countdown"></p>
                </div>
            </div>
            <div class="question"><p><span id="Question"></span></p></div>
            <button id = "Ans1" class="choice" style="margin-top: 1%;"></button>
            <button id = "Ans2" class="choice"></https://prod.liveshare.vsengsaas.visualstudio.com/join?669810C6AC321FE04515E0A24E022E5F2364button>
            <button id = "Ans3" class="choice"></button>
            <button id = "Ans4" class="choice"></button>
        </div>
    </body>
</html>