body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-color: #dee1e2;
}

.background {
    background-color: #f4f4f4;
    margin: 0;
}

.top_bar ul {
    list-style-type: none;
    background-color: #549abd;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.top_bar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.top_bar a:hover {
    background-color: #5c9cbc;
}

.top_bar li {
    float: left;
}

.signup {
    margin-left: 83%;
    margin-top: 5px;
}

.login {
    margin-top: 5px;
}

.GenQ {
    font-size: 25px;
    margin-left: 10px;
}

.logo {
    width: 76px;
    height: 45px;
    margin-top: 5px;
    margin-left: 5px;
}
/*5 navbar*/

/*text*/
.text{
    text-align: center;
    color: black;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.big_q{
    font-size: 100;
    margin-top: 50px;
    margin-bottom: 0;
}
.small_q{
    font-size: 30;
    margin-top: 2px;
    margin-bottom: 0;
}


/*text*/

button{
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 8%;
    background: #68abc4;
    color: white;
    margin-left: 46%;
}
button:hover{
    background: #5a96ab;
}
.span{
    color: #549abd ;
}

/*lesson*/
.headlesson{
    font-size: 45;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}
.lesson{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.lesson1{
    background-color: #549abd;
    width: 25%;
    height: 500px;
    border-radius: 30px;
    margin-left: 50px;
}
.pic1{
    background-color: #549abd;
    width: 100%;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}
.pic1 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.lesson2{
    background-color: #549abd;
    width: 25%;
    height: 500px;
    border-radius: 30px;
    margin-left: 50px;
}
.lesson3{
    background-color: #549abd;
    width: 25%;
    height: 500px;
    border-radius: 30px;
    margin-left: 50px;
}
/*lesson*/
.topic{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    color: aliceblue;
}
.explain{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    color: aliceblue;
}
.learnmore{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 50%;
    background: #6db0c8;
    color: white;
    margin-left: 25%;
}
.learnmore:hover{
    background: #5295ad;

}